.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: flex;
  justify-content: space-between;
}
#image-gallery #image-gallery-image{
  transition: 0.3s ease;
  max-width: 740px;
  max-height: 740px;
  object-fit: scale-down;
}
.modal-body{
  overflow: hidden;
}
.container{
  max-width: 95% !important;
}
.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  max-width: unset;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}
.thumb > .thumbnail{
  margin-right: 5px;
}
.thumb > .thumbnail > .img-thumbnail {
  width: 300px;
  max-height: 300px;
  object-fit: scale-down;
  transition: 0.3s ease;
}
.js_photo_metadata_popup{
  font-size: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  background: rgba(255,255,255,0.8);
  padding: 5px;
  border-radius: 0.25rem;
  border: 1px solid #7878;
  z-index: 50;
  height: 250px;
  width: 400px;
  display: flex;
  position: relative;
}
.js_photo_metadata_popup .js_photo_rotate {
  position: absolute;
  left: 7px;
  bottom: -38px;
}
#image-gallery .js_photo_rotate, .js_photo_metadata_popup .js_photo_rotate{
  cursor: pointer;
  display: flex;
  font-size: 17px;
}
#image-gallery .js_photo_rotate div, .js_photo_metadata_popup .js_photo_rotate div{
  transition: 0.15s ease;
  user-select: none;
}
#image-gallery .js_photo_rotate div:hover, .js_photo_metadata_popup .js_photo_rotate div:hover {
  transform: scale(1.05);
}
#image-gallery .js_photo_rotate div:hover:active, .js_photo_metadata_popup .js_photo_rotate div:hover:active {
  transition: 0.05s ease;
  transform: scale(1.01);
}
#image-gallery .js_photo_rotate i, .js_photo_metadata_popup .js_photo_rotate i {
  font-size: 20px;
}
#image-gallery .js_photo_rotate .js_photo_rotate_left > i, .js_photo_metadata_popup .js_photo_rotate .js_photo_rotate_left > i {
  transform: scaleX(-1);
}
#image-gallery .js_photo_rotate .js_photo_rotate_left, .js_photo_metadata_popup .js_photo_rotate .js_photo_rotate_left {
  margin-right: 10px;
}
